body{
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(173,230,255,0.6), rgba(173,230,255,0.6)),
        url('../images/background.jpg');

    
}

.navbar{
    padding:15px 0;
}

.navbar-brand{
    font-size:28px;
}

.nav-link{
    color:white !important;
    margin-right:15px;
    font-weight:500;
}

.nav-link:hover{
    color:#ffe082 !important;
}

.btn-dark{
    border-radius:25px;
}

/* Hero Section */

.hero{
    background: linear-gradient(rgba(0,120,170,.75),rgba(0,120,170,.75)),
    url("../images/logo.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    padding:90px 0;
}

.hero h1{
    font-size:55px;
    font-weight:bold;
}

.hero h1 span{
    color:#FFD54F;
}

.hero p{
    margin:25px 0;
    font-size:18px;
    line-height:1.8;
}

.hero .btn{
    padding:12px 35px;
    border-radius:30px;
}

.hero-img{
    max-width:500px;
}
/* Featured Pets */

.featured-pets{
    background:#ffffff;
}

.pet-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:all 0.3s ease;
}

.pet-card img{
    height:220px;
    object-fit:cover;
}

.pet-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15) !important;
}

.pet-card .card-title{
    font-weight:700;
    color:#0d6efd;
}

.pet-card .btn{
    transition:0.3s;
}

.pet-card .btn:hover{
    transform:scale(1.05);
}

/* Featured Products */

.featured-products{
    background:#f8fbfd;
}

.product-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:all 0.3s ease;
}

.product-card img{
    height:220px;
    object-fit:cover;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15) !important;
}

.product-card .card-title{
    font-weight:700;
    color:#0d6efd;
}

.product-card .btn{
    transition:0.3s;
}

.product-card .btn:hover{
    transform:scale(1.05);
}

/* Footer */

.footer-section{
    background:#0b2239;
    color:white;
}

.footer-links li{
    margin-bottom:10px;
}

.footer-links a{
    color:#dbe7f3;
    text-decoration:none;
    transition:0.3s ease;
}

.footer-links a:hover{
    color:#4fc3f7;
    padding-left:5px;
}

.social-icons{
    display:flex;
    gap:12px;
}

.social-icon{
    width:42px;
    height:42px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(255,255,255,0.15);
    border-radius:50%;
    text-decoration:none;
    font-size:18px;
    transition:all 0.3s ease;
}

.social-icon:hover{
    background:#4fc3f7;
    transform:translateY(-4px);
}

.footer-section hr{
    opacity:0.2;
}